
body{
    margin-left: 16px;
    font-family: 'Arimo', sans-serif;
}

a:hover{
    background-color: rgba(255, 0, 255, 0.02);
    text-decoration: underline;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

li.maintag {
    font-weight: bold;
}

li{
    padding: 3px;
}
ul.exp li{
    padding: 7px;
}
